html {
    font-size: 16px;
}

.content {
    background-color:teal;
}


.hundurluk {
    height: 100vh;
}


.typed-text {
    font-size: 3rem;
}


.cart {
    height: 200px;
    background-color: teal;
    margin-right: 5px;
    margin-bottom: 2px;
}